@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
ul li{
  line-height: 1.7;
}
ul li a{
  color: #717070;
}
.footer_area{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer_top{
  padding: 50px 0 30px 0;
  border-bottom: 1px solid #ffffff1a;
  color: #ffffff;
}
.footer_bottom{
  padding: 80px 0 80px 0;
  color: #ffffff;
}
footer {
  padding: 30px;
  color: #717070;
  background: #111111;
}
.btn {
	position: relative;
	font-size: 14px;
	line-height: 30px;
	padding: 15px 55px;
	font-weight: 700;
	letter-spacing: 0.1em;
	overflow: hidden;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 500ms ease;
	background: rebeccapurple;
}
.footer_down ul li a {
	position: relative;
	font-weight: 600;
}

.footer_down ul li a::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: red;
  content: "";
  transition: 0.4s;
}
.footer_down ul li a:hover::before{
  width: 100%;
}
.footer_down ul li a:hover{
  color: #ffffff;
}

h2{
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  
}

/*  */
section.bg-white.py-2.footer_area {
  padding: 120px 0 90px 0;
}

.card_info {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 35px 40px 30px;
  background-color: #171717;
  background-position: top left;
  background-repeat: no-repeat;
}
.card_info h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
.card_info .border_bottom{
  text-align: right;
  position: relative;
  margin-bottom: 20px;
}
.card_info .border_bottom::before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff1a;
  content: "";
  z-index: 1;
}
span.count {
  padding: 6px 12px;
  display: inline-block;
  background: #ffffff1a;
  z-index: -1;
}

.card_info .size-6 {
  width: 50px;
  height: 50px;
  color: white;
}